/*Font*/
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto');
  }

@font-face {
    font-family: 'IBM Plex Mono', monospace;
    src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto');
  }

div#cloneCalc{
    font-family: Roboto;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 400px;
}

div#cloneCost{
    width: 100%;
}

div#CloneCalcHalf{
    width: 50%;
}