/*Font*/
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto');
  }

div#cloneCalc{
    font-family: Roboto;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 500px;
}

div#cloneCost{
    width: 100%;
    text-align: center;
}

div#CloneCalcDinoSelector{
    margin-bottom: 5%;
    display: -webkit-inline-box;
    text-align: center;
}